@font-face {
    font-family: "Courier Prime";
    src: url('static/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
  }
  
  
  body {
      font-family: Arial, sans-serif;
      background-color: #FAF9F6;
    }
    
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Заголовок */
  
  
  header {
    margin-top:50px;
    margin-bottom: 30px;
  }
  
  header h1 {
    text-align: center;
    font-size: 40;
    font-family: "Courier Prime", Courier, monospace;
    font-weight: 100;
    color: #555151;
  }
  
  /* Контент */

  .content {
    max-width: 960px;
    padding: 0;
  }

  .section-title {
    text-align: center;
    font-family: "Courier Prime", Courier, monospace;
    color: #555151;
    font-weight: 200;
  }

  .section-title.second {
    margin-top: 100px;
  }

  .content .row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .content .row .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 460px;
  }

  
  .content .row .col .right {
    height: 278px;
    overflow: hidden;
    position: relative;
  }

  .img-wrapper.single {
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
  }

  .content .row .col .img-wrapper img {
    width: 100%;
    height: auto;
    display: absolute;
  }

  .content .row .col .right img {
    width: 100%;
    height: auto;
    display: absolute;
    top: 50%;
    transform: translateY(-20%);
  }

  .img-wrapper.single img {
    width: 100%;
    height: auto;
    display: absolute;
    top: 50%;
    transform: translateY(-20%);
  }

  .row.set {
    display: flex;
    gap: 1rem; /* Spacing between columns */
    flex-wrap: wrap; /* This allows the items to wrap onto the next line */
}

.col.set {
    flex: 1; /* This ensures each column takes equal space */
    min-width: calc(33.33% - 1rem); /* Minus 1rem to account for the gap */
}

.img-wrapper.set {
    width: 100%;
    padding-bottom: 100%; /* This creates a square aspect ratio */
    position: relative;
    overflow: hidden;
}

.img-wrapper.set img {
  width: 100%;   /* Set width to 100% */
  height: 100% !important;  /* Set height to 100% */
  object-fit: cover;
  object-position: center; /* Ensures the center of the image is always visible */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the image */
}

  
  
  /* Контакты */
  footer {
    margin-top: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  footer a {
    color: inherit;      /* наследовать цвет текста от родителя */
    text-decoration: none; /* убрать подчеркивание */
    background-color: transparent; /* прозрачный фон */
    cursor: pointer; /* изменить курсор на указатель */
  }
  
  @media screen and (max-width: 600px) {
    body {
      padding: 0;
      margin: 0;
    }
    header {
      margin-top: 20px;
    }
    header h1 {
      font-size: 20px;
    }

    /* Контент */
    .content {
      padding: 0 20px;
    }
    .section-title {
      font-size: 18px;
    }

    .section-title.second {
      margin-top: 50px;
    }

    .content .row {
      flex-direction: column;
    }

    .content .row .col .right {
      height: auto;
    }

    .content .row .col .right img {
      top: auto;
      transform: none;
    }

    .img-wrapper.single {
      height: auto;
    }

    .img-wrapper.single img {
      top: auto;
      transform: none;
    }

    .col.set {
      min-width: 100%; /* Taking the full width for mobile */
  }

  }
    